################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/containers/Basket.Api/bin/Debug/netcoreapp3.1
/containers/Basket.Api/obj
/containers/Basket.Api/Basket.Api.csproj.user
/dotnet-packages/basket/src/Basket/bin/Debug/netcoreapp3.1
/dotnet-packages/basket/src/Basket/obj
/dotnet-packages/basket/test/Basket.Tests/bin/Debug/netcoreapp3.1
/dotnet-packages/basket/test/Basket.Tests/obj
/dotnet-packages/common/src/Common/bin/Debug/netcoreapp3.1
/dotnet-packages/common/src/Common/obj
/dotnet-solutions/eBazr.ApiGateway/.vs/eBazr.ApiGateway/v16/.suo
/dotnet-solutions/eBazr.Basket/.vs/eBazr.Basket
/dotnet-solutions/eBazr.Catalog/.vs/eBazr.Catalog/v16/.suo
/dotnet-solutions/eBazr.Common/.vs/eBazr.Common
/dotnet-solutions/eBazr.Order/.vs/eBazr.Order/v16
/dotnet-solutions/eBazr.User/.vs/eBazr.User/v16
/dotnet-solutions/eBazr.WebApp/.vs/eBazr.WebApp/v16
/containers/Catalog.Api/bin/Debug/netcoreapp3.1
/containers/Catalog.Api/obj
/containers/Catalog.Api/Properties
/dotnet-packages/basket/src/Basket.Infra/bin/Debug/netcoreapp3.1
/dotnet-packages/basket/src/Basket.Infra/obj
/dotnet-packages/catalog/src/Catalog/bin/Debug/netcoreapp3.1
/dotnet-packages/catalog/src/Catalog/obj
/dotnet-packages/catalog/src/Catalog.Infra/bin/Debug/netcoreapp3.1
/dotnet-packages/catalog/src/Catalog.Infra/obj
/dotnet-packages/catalog/test/Catalog.Tests/bin/Debug/netcoreapp3.1
/dotnet-packages/catalog/test/Catalog.Tests/obj
/dotnet-solutions/eBazr.Catalog/.vs/eBazr.Catalog/v16/TestStore/0
/containers/Catalog.Api/Catalog.Api.csproj.user
/containers/Order.Api/bin/Debug/netcoreapp3.1
/containers/Order.Api/obj
/containers/Order.Api/Properties
/containers/Order.Consumer/bin/Debug/netcoreapp3.1
/containers/Order.Consumer/obj
/dotnet-packages/order/src/Order/bin/Debug/netcoreapp3.1
/dotnet-packages/order/src/Order/obj
/dotnet-packages/order/src/Order.Infra/bin/Debug/netcoreapp3.1
/dotnet-packages/order/src/Order.Infra/obj
/dotnet-packages/order/tools/Order.Tests/bin/Debug/netcoreapp3.1
/dotnet-packages/order/tools/Order.Tests/obj
/dotnet-solutions/eBazr.Order/.vs/eBazr.Order/DesignTimeBuild
/dotnet-solutions/eBazr.Catalog/.vs/eBazr.Catalog/DesignTimeBuild
/dotnet-solutions/eBazr.Order/.vs/eBazr.Order/config
*.user
/containers/Web.App/bin/Debug/netcoreapp3.1
/containers/Web.App/obj
/containers/Api.Gateway/bin/Debug/netcoreapp3.1
/containers/Api.Gateway/obj
/containers/Api.Gateway/Properties
*.config
*.v2
/.vs
/bin/Debug
/obj
